// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.bd-fetbar {
  order: 1;
}

.bd-sectbar {
  order: 0;
}

.bd-content {
  order: 2;
  padding-top: 0rem;
}

// @media(min-width: 768px) {
//   .mobile {
//       margin-top: 11rem;
//   }
//   .bd-fetbar {
//       order: 1;
//       border-left: 1px solid rgba(0,0,0,.1);
//   }
  
//   .bd-sectbar {
//       order: 0;
//       border-right: 1px solid rgba(0,0,0,.1);
//   }
  
//   .bd-content {
//       order: 2;
//       padding-top: 0rem;
//   }
// }

@media (min-width: 768px) {
  .bd-sectbar {
      order:0;
      position: -webkit-sticky;
      position: sticky;
      border-right: 1px solid rgba(0,0,0,.1);
      top: 3.5rem;
      z-index: 1000;
      height: calc(100vh - 3.5rem);
  }

  .bd-content {
      order: 1;
      // padding-top: 12rem;
  }

  .bd-fetbar {
      order: 2;
      position: -webkit-sticky;
      position: sticky;
      top: 3.5rem;
      z-index: 1000;
      height: calc(100vh - 3.5rem);
      border-left: 1px solid rgba(0,0,0,.1);
  }

  .mobile {
      margin-top: 0rem;
  }
}
