  .loader {
    width: 50px;
    height: 50px;
    padding: 10px;
  }

  .loader-dc {
    position: relative;
    left: 50%;
    margin-left: -15px;
    z-index: 1;
    width: 30px;
    height: 30px;
    border: 1px solid #9c27b05c;
    border-radius: 50%;
    width: 30px;
    border-top: 5px solid #59e239b0;
    height: 30px;
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }