<template>
  <div>
    <li class="list-group-item" v-bind:key='index' v-for="(item, index) in katapanas">
      <a :href="`/katapanas/${item.id}`" class="font-weight-bold">{{ item.kata_panas }}</a> 
      <span style="color: gray">
        - {{ item.jumlah }} Post
      </span>
    </li>
  </div>
</template>

<script>
export default {
  data () { 
    return {
      katapanas: []
    }
  },
  created () {
    this.getKataPanas()
  },
  mounted () {
    this.listenPayload()
  },
  methods: {
    getKataPanas: function() {
      axios.get('/api/v1/katapanas')
        .then(response => {
          this.$data.katapanas = response.data.data
        }).catch(error=> {
          console.log('error get katapanas',error)
        })
    },

     listenPayload: function() {
       Echo.channel('katapanas-payload').listen('KataPanasReceived', (e) => {
         this.$data.katapanas = e.payload
       })
    }
  }
}
</script>